<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <ng-container *ngFor="let column of columns">
    <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
      <th class="column-head" *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
      <td *matCellDef="let row" mat-cell
          style="text-transform: uppercase">
        {{ row[column.property] }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container>
    <ng-container matColumnDef="actions">
      <th style="text-align:center" *matHeaderCellDef class="actions-cell column-head" mat-header-cell mat-sort-header>Actions</th>
      <td style="text-align:center" *matCellDef="let row" class="actions-cell" mat-cell>
        <img (click)="editProduct(row)" class="action-icons" src="assets/img/edit.png" alt="E" matTooltip="Edit Product">
        <img (click)="deleteProduct(row)" class="action-icons" src="assets/img/delete.png" alt="X" matTooltip="Delete Product">
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

