<div fxLayout="row" style="width: 1000px; margin: 0 auto; border: 1px solid black">
  <div class="menu-holder">
    <ul class="menu-items" fxLayout="column">
      <li [class.active]="activeMenu=='add-product'"><a routerLink="add-product">ADD PRODUCT</a></li>
      <li [class.active]="activeMenu=='manage-products'"><a routerLink="manage-products">MANAGE PRODUCTS</a></li>
      <li [class.active]="activeMenu=='reports'"><a routerLink="reports">REPORTS</a></li>
    </ul>
  </div>
  <div class="contents-holder">
    <router-outlet></router-outlet>
  </div>
</div>
