<h1>Add New Product</h1>

<div fxLayout="column">
  <form (submit)="saveProduct()" class="example-form" [formGroup]="productForm">
    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Product name</mat-label>
      <input matInput name="name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput name="description" formControlName="description"></textarea>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="15px">
      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Color</mat-label>
        <input matInput type="text" name="color" formControlName="color">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="standard">
        <mat-label>Price</mat-label>
        <input matInput type="text" name="price" formControlName="price">
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutGap="15px" style="margin-bottom: 15px;">
      <input (change)="trackFile($event)" type="file" name="product_img" id="product_img" accept="image/jpg, image/jpeg, image/png">
      <img *ngIf="productImg" [src]="sanitizeImageUrl(productImg)" alt="" style="width: 150px; height: 150px">
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Save</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="warn" type="button" (click)="clearForm()">RESET</button>
  </form>

</div>
